{% extends 'main/layout.html' %}

{% block title%} Form add news {% endblock%}

{% block content%}
    <div class="features">
        <h1> Form add news </h1>
        <form method = "post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.announcement}}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Add news</button>
        </form>
    </div>

{% endblock%}