{% extends 'main/layout.html' %}

{% block title%} News {% endblock%}

{% block content%}
    <div class="features">
        <h1> News </h1>
        {% if news %}
            {% for el in news%}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.announcement }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Detail</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Here no news!</p>
        {% endif %}

        {# coment #}
    </div>

{% endblock%}